<div class="text-center mt-8 bg-repeat bg-center h-auto">
  <h1 class="font-semibold pt-[45px] pb-4 text-4xl text-color_text_secund">
    Lore
  </h1>
  <div class="grid md:grid-cols-2 gap-4">
    <div class="md:col-span-1">
      <div class="m-4 flex justify-center">
        <iframe
          class="w-full"
          height="415"
          src="https://www.youtube.com/embed/3g6UQdNflR8?si=-OWuKCw0Dj_Q34Dl"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="md:col-span-1">
      <div class="mt-2">
        <div class="bg-main p-6 m-4 border border-color_text rounded text-xl">
          <h2 class="font-semibold text-color_text_secund mb-3">Lalabell Lullaby, La Chica Mágica</h2>
          <p>
            En un mundo de fantasía donde había magia, reinaba la paz. Sin
            embargo, un día el caos se desató debido a las ambiciones de un rey
            demonio que buscaba establecer un régimen del terror bajo su
            control.
          </p>
          <p>
            En una pequeña aldea de semihumanos al sur de la capital imperial,
            vivía una niña de 7 años, mitad coneja y mitad humana. Mientras
            recibía una lección de magia con sus padres, presenció cómo su aldea
            fue aniquilada por el ejército demoníaco. El líder del ejército, el
            rey demonio, decidió dejarla con vida como un recordatorio de ese
            día, ordenando a sus hombres que no la asesinaran.
          </p>
          <p>
            Años después, la niña vivía en un orfanato de la capital, dedicando
            sus días a aprender magia para vengarse del rey demonio. Su esfuerzo
            atrajo la atención de una anciana errante, quien le enseñó magia a
            cambio de comida. Cuando ya no tenía más que aprender, se separaron
            confiando en reunirse algún día.
          </p>
          <p>
            A los 12 años, la niña se registró en el gremio de la capital y se
            unió a un equipo para derrotar al rey demonio. Destacó como la
            hechicera más poderosa del grupo. Sin embargo, en el enfrentamiento
            final, fue traicionada por el líder de su grupo y murió sintiendo
            tristeza por una vida consumida por el odio y la guerra.
          </p>
          <p>
            Despertó en otro mundo gracias a la anciana hechicera, con la misión
            de salvar a las personas creando sonrisas para aliviar su dolor.
            Renació como Lalabell Lullaby, guardiana de la luna y los sueños.
          </p>
          <p>
            Vivió una vida tranquila y solitaria, inspirada por las chicas
            mágicas que veía en la televisión. Decidió convertirse en una de
            ellas y recibió la ayuda de Lupinus, su peluche favorito, que cobró
            vida para guiarla en su misión como guardiana de la luna y los
            sueños.
          </p>
          <p>
            En una de sus misiones, recibió una carta de Idol Corp, ¿qué querrán
            de ella? Esto se descubrirá a lo largo de sus streams.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
